@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Setting all elements to behave as border-box elements */

* {
    box-sizing: border-box;
}

/* General styling for all pages */

body, html {
    height: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 150px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 10%;
}

.content {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.content, .cv-page-content {
    padding-top: 100px;
    margin-bottom: 20px;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

/* Styling for the header */

#header {
    background-color: darkcyan;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    height: 80px;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-transform: uppercase;
    z-index: 9999;
}

.header-nav li {
    float: right;
    margin-top: 0;
    margin-right: 5px;
    width: 20px;
}

.header-title {
    text-align: left;
    font-size: 25px;
    float: left;
    margin-left: 5px;
}

.header-nav {
    text-align: right;
    display: block;
}

.header-nav a {
    padding: 10px;
}

#header a:hover {
    color: #222;
}

/* Styling for the footer */

#footer {
    background-color: #2f2f2f;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer a:hover {
    color: #F6A623;
}

#footer .column a {
    display: block;
    max-width: 100px;
}

.column {
    min-width: 200px;
    max-width: 280px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.fa-icons .fa {
    margin-right: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.picture {
    margin-left: auto;
    margin-right: auto;
}

.left-column {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.cv-author, .employer, h1, h2, h3, h4, h5, h6, .landing-btn {
    text-transform: uppercase;
}

/* Styling for the CV page */

.cv-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cv-author {
    text-align: center;
}

.cv-content h3 {
    text-align: center;
}

.cv-author img {
    height: 15%;
    width: 15%;
}

.job-description {
    margin-left: 15px;
}

.cv-content p {
    text-align: justify;
}

/* Styling for the Gallery page */

.gallery-image {
    width: 60vh;
    height: 60vh;
    margin: 10px;
    display: inline-block;
    position: relative;
}

.gallery-pic {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-image:hover .gallery-pic {
    opacity: 0.3;
}

.gallery-image:hover .middle {
    opacity: 1;
}

.image-text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

/* Styling for landing page only */

.bg-image {
    background-image: url("Images/mountains.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.bg-text {
    color: white;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.landing-btn {
    background-color: slategray;
    opacity: 0.5;
    border: none;
    padding: 16px 32px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.5em;
    transition: 0.5s;
}

.landing-btn:hover {
    opacity: 1.0;
}

/* CSS for fading in text and for button on landing page */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.map-container {
    height: 350px;
    width: 40%;
    margin: auto;
}

/* CSS for Carousel Images */

.slideshow-container {
    max-width: 40%;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    border-radius: 2.5%;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* Number text (1/6 etc) */

.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Responsive pages */

@media only screen and (max-width: 750px) {
    body {
        width: 100%;
    }
    .cv-page-content, .content, .cv-author, .cv-content, .cv-container {
        width: 100%;
    }
    .cv-page-content, .content {
        padding-top: 200px;
    }
    .cv-content p {
        max-width: 80%;
        text-align: left;
    }
    #header, #footer {
        height: auto;
    }
    #content-wrap {
        padding-bottom: 300px;
    }
    .header-nav {
        padding: 0px;
    }
    #header a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        float: none;
    }
    img, .cv-author img {
        width: 50%;
    }
    small {
        display: block;
    }
    .spaces {
        display: none;
    }
    .gallery-image, .gallery-pic {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .picture {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .left-column {
        width: 80%;
        margin: 10%;
        background-color: white;
        line-height: 1;
        font-size: 1em;
        float: none;
    }
    .map-container {
        width: 75%;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1320px) {
    .left-column {
        width: 80%;
        margin: 10%;
        background-color: white;
        line-height: 1;
        font-size: 1em;
        float: none;
    }
    .picture {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
    .gallery-image {
        width: 40vh;
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .map-container {
        width: 55%;
    }
}